<img src="assets/images/logo.png"/>
  <div>
    <header>
      <nav>
          <ul>
              <li><a href="#home">Página Inicial</a></li>
              <li><a href="#about">Sobre</a></li>
              <li><a href="#contact">Contato</a></li>
          </ul>
      </nav>
  </header>
  </div>
  <div>
    <img src="../../../assets/images/bola 1.png"/>
      <div>
        <p>-30% off</p>
      </div>
    <p>Bola de futebol de campo Penalty Bravo</p>
    <img src="../../../assets/images/star 1.png"/>
    <p>R$ 119,90</p>
    <p>R$ 83,93</p>

  </div>

  <div>
    <img src="../../../assets/images/cone-com-furo 1.png"/>
      <div>
        <p>-30% off</p>
      </div>
    <p>Bola de futebol de campo Penalty Bravo</p>
    <img src="../../../assets/images/star 1.png"/>
    <img src="../../../assets/images/star 1.png"/>
    <img src="../../../assets/images/star 1.png"/>
    <img src="../../../assets/images/star 1.png"/>
    <img src="../../../assets/images/star 1.png"/>
    <p>R$ 119,90</p>
    <p>R$ 83,93</p>

  </div>
  <div>
    <img src="../../../assets/images/Rede 1.png"/>
      <div>
        <p>-30% off</p>
      </div>
    <p>Bola de futebol de campo Penalty Bravo</p>
    <img src="../../../assets/images/star 1.png"/>
    <p>R$ 119,90</p>
    <p>R$ 83,93</p>

  </div>
