<img src="assets/images/logo.png"/>
  <div class="bg-primary">
    <header>
      <nav>
          <ul>
              <li><a href="#home">Página Inicial</a></li>
              <li><a href="#about">Sobre</a></li>
              <li><a href="#contact">Contato</a></li>
          </ul>
          <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Digite para buscar">
            <button onclick="buscar()">Buscar</button>
          </div>
          <img src="../../../assets/images/Vector conta.png"/>
          <img src="../../../assets/images/Vector carrinho.png"/>
      </nav>
  </header>
  </div>
  <div>
    <img src="../../../assets/images/bola 1.png"/>
      <div>
        <p>-30% off</p>
      </div>
    <p>Bola de futebol de campo Penalty Bravo</p>
    <img src="../../../assets/images/star 1.png"/>
    <p>R$ 119,90</p>
    <p>R$ 83,93</p>

  </div>

  <div>
    <img src="../../../assets/images/cone-com-furo 1.png"/>
      <div>
        <p>-30% off</p>
      </div>
    <p>Bola de futebol de campo Penalty Bravo</p>
    <img src="../../../assets/images/star 1.png"/>
    <img src="../../../assets/images/star 1.png"/>
    <img src="../../../assets/images/star 1.png"/>
    <img src="../../../assets/images/star 1.png"/>
    <img src="../../../assets/images/star 1.png"/>
    <p>R$ 119,90</p>
    <p>R$ 83,93</p>

  </div>
  <div>
    <img src="../../../assets/images/Rede 1.png"/>
      <div>
        <p>-30% off</p>
      </div>
    <p>Bola de futebol de campo Penalty Bravo</p>
    <img src="../../../assets/images/star 1.png"/>
    <p>R$ 119,90</p>
    <p>R$ 83,93</p>

  </div>
