<app-app-logo></app-app-logo>
<div class="flex-column align-center justify-center">
  <div class="login-card w-50 flex bg-primary border-rounded justify-center align-center pt-80 pb-128">
    <form [formGroup]="registroForm" class="login-form w-30 flex-column justify-center align-center">
      <h1 class="text-white pb-72">Criar conta</h1>

      <div class="flex-column gap-48 mb-24 w-full">

        <div class="flex-column gap-8">
          <p class="text-white">Nome</p>
          <div class="form-input-wrap">
            <input formControlName="nome" type="nome" class="form-control">
          </div>
          <app-form-error [deveMostrar]="registroForm.touched" [errors]="registroForm.get('nome')?.errors"/>
        </div>

        <div class="flex-column gap-8">
          <p class="text-white">Sobrenome</p>
          <div class="form-input-wrap">
            <input formControlName="sobrenome" type="sobrenome" class="form-control">
          </div>
          <app-form-error [deveMostrar]="registroForm.touched" [errors]="registroForm.get('sobrenome')?.errors"/>
        </div>



        <div class="flex-column gap-8">
          <p class="text-white">Email</p>
          <div class="form-input-wrap">
            <input formControlName="email" type="email" class="form-control">
          </div>
          <app-form-error [deveMostrar]="registroForm.touched" [errors]="registroForm.get('email')?.errors"/>
        </div>

        <div class="flex-column gap-8">
          <p class="text-white">Senha</p>
          <app-input-senha [control]="senhaFormControl"></app-input-senha>
          <app-form-error [errors]="registroForm.get('senha')?.errors"/>
        </div>
      </div>

      <div class="flex-column gap-8 align-center">
        <button class="button-secondary" (click)="criarConta()">
          Criar conta
        </button>
      </div>
    </form>
  </div>
</div>
