<app-navbar></app-navbar>
<div class="flex-column align-center justify-center pb-24">
  <form [formGroup]="registroForm" class="login-form w-30 flex-column justify-center align-center">
    <h2 class="text-primary pb-48">Criar conta</h2>

    <div class="flex-column gap-48 mb-24 w-full">

      <div class="flex-column gap-8">
        <p class="text-charcoal">Nome</p>
        <div class="form-input-wrap">
          <input formControlName="nome" type="nome" class="form-control">
        </div>
        <app-form-error [deveMostrar]="registroForm.touched" [errors]="registroForm.get('nome')?.errors"/>
      </div>

      <div class="flex-column gap-8">
        <p class="text-charcoal">Sobrenome</p>
        <div class="form-input-wrap">
          <input formControlName="sobrenome" type="sobrenome" class="form-control">
        </div>
        <app-form-error [deveMostrar]="registroForm.touched" [errors]="registroForm.get('sobrenome')?.errors"/>
      </div>


      <div class="flex-column gap-8">
        <p class="text-charcoal">Email</p>
        <div class="form-input-wrap">
          <input formControlName="email" type="email" class="form-control">
        </div>
        <app-form-error [deveMostrar]="registroForm.touched" [errors]="registroForm.get('email')?.errors"/>
      </div>

      <div class="flex-column gap-8">
        <p class="text-charcoal">Senha</p>
        <app-input-senha [control]="senhaFormControl"></app-input-senha>
        <app-form-error [errors]="registroForm.get('senha')?.errors"/>
      </div>
    </div>

    <button class="button-secondary block mt-8" (click)="criarConta()">
      Criar conta
    </button>
  </form>
</div>
