<img src="assets/images/logo.png"/>
<div class="flex-column align-center justify-center">
  <div class="w-50 bg-primary border-rounded align-center">
    <div class="flex-column align-center p-24 gap-24">
      <div>
        <h1 class="text-white pb-72">Login</h1>

        <div class="flex-column gap-48">
          <div class="flex-column gap-8">
            <p class="text-white">Email</p>
            <input type="text" class="form-control">
          </div>

          <div class="flex-column gap-8">
            <p class="text-white">Senha</p>
            <input type="password" class="form-control">
          </div>
        </div>
      </div>

      <div class="flex-column gap-8">
        <p class="text-white">Esqueci minha senha</p>
        <button class="button-secondary">
          Acessar conta
        </button>
      </div>
    </div>
  </div>
</div>
