html {
  font-family: 'Source Sans 3', sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

.text-medium {
  font-size: 20px;
}

.text-large {
  font-size: 24px;
}

.text-underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: 700;
}
