$primary: #034AA6;
$secondary: #EBFF00;
$charcoal: #36454F;
$white: #FFFFFF;
$gray: #808080;
$light-gray: #D3D3D3;
$colors: (
  charcoal: $charcoal,
  white: $white,
  gray: $gray,
  lightGray: $light-gray,
  primary: $primary,
  secondary: $secondary,
);
